@import "tailwindcss";
@import "highlight.js/styles/github.css";
@font-face {
  font-family: "Unbounded";
  src: url("/fonts/Unbounded.woff2") format("woff2");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-Bg: #fefefe;
  --color-primary: #070a12;
  --color-secondary: #475569;
  --color-muted: #94a3b8;
  --color-accent: #7c3aed;
  --color-hover: #6d28d9;
  --color-soft: #f5f3ff;
  --color-border: #e5e7eb;
  --color-borderHover: #93c5fd;
  --color-card: #f9fafb;
  --font-heading:
    "Unbounded", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
* {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  letter-spacing: 1px;
}
html {
  scrollbar-gutter: stable;
  overflow-x: hidden;
}
.heading {
  font-family:
    "Unbounded",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}
h2 {
  font-family:
    "Plus Jakarta Sans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: var(--color-primary);
}
.no-scroll {
  overflow: hidden !important;
}
::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.3);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.5);
}

* {
  scrollbar-width: thin;

  scrollbar-color: rgba(156, 163, 175, 0.3) transparent;
}
@media (min-width: 1800px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 2200px) {
  html {
    font-size: 22px;
  }
}
::selection {
  background-color: var(--color-accent);
  color: white;
}
